<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="platy-box">
                <img class="platy-uni-image" ng-src="{{main.imageUrl}}"/>
                <h3>{{main.name}}</h3>
                <p><span class="uni-label">Website: </span>{{main.websiteUrl}}</p>
                <p><span class="uni-label">Location: </span>{{main.city}}</p>
                <p><span class="uni-label">Established: </span>{{main.establishedDate}}</p>
                <p><span class="uni-label">Summary: </span>{{main.summary}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="platy-box">

            </div>

        </div>
        <div class="col-md-4">
            <div class="platy-box">

            </div>
        </div>
    </div>
</div>